/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

@font-face {
    font-family: "googleIcons";
    src: url('fonts/Material_Symbols_Sharp/materialsymbols.ttf');
}

@font-face {
    font-family: "Monserrat";
    src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Monserrat";
}

section{
    height: 100vh;
  
 }   
header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'googleIcons';
    flex-direction: row;

    font-size: 2rem;
    color: rgba(0, 0, 0, 0.615);
    text-align: center;

    height: 15% ;

    background-image: linear-gradient(#00fff727 , #b772035e );
    
}
.game-space{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    height: 85%;

    background-image: linear-gradient(#b772035e, #033735be);
}
.game-window{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0, 255, 255, 0.237);
    
    border-radius: 15px;
    border: 5px double white;

    height: 20rem;
    width: 20rem;
    
}

/* #inside-game-window{
    display: none;
} */

.inside-game-window{
    animation: fadein 0.3s ease-in-out forwards;
}

@keyframes fadein {
    0%  { opacity: 0;}
    100%  {opacity: 1;}
    }



.score-pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
 
}
.score-card{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column; 
    border: 5px double white;
    border-radius: 15px;
    width: 5rem;

    padding: 10px 10px;
    gap: 25px;

    font-weight: 800;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    background-color: white;
    border-radius: 5px;

}


.game-interface{
     display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.game-interface button{
    font-family: 'googleIcons';
    font-size: 2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.099);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius:15px;
    box-shadow: 0 0 2px white;

    margin: 5px;
    width: 5rem;
}