/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

@font-face {
    font-family: "googleIcons";
    src: url('https://fonts.googleapis.com/icon?family=Material+Icons');
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: googleIcon;

    
}