/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

@font-face {
    font-family: "googleIcons";
    src: url('fonts/Material_Symbols_Sharp/materialsymbols.ttf');
}

@font-face {
    font-family: "bubbly";
    src: url("fonts/bubbly.TTF");
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "bubbly";
}

section{
    height: 100vh;
    }   
header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'googleIcons';
    flex-direction: row;

    font-size: 2rem;
    color: rgba(0, 0, 0, 0.615);
    text-align: center;

    height: 15% ;

    background-image: linear-gradient(#00fff727 , #e1351e46 );
    
}
.game-space{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    height: 85%;

    background-image: linear-gradient(#e1351e46, #02302ede);
}
.game-window{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #db5c4b3c;
    
    border-radius: 15px;
    border: 5px inset #db6f60;

    height: 20rem;
    width: 20rem;
    
 
}



.inside-game-window{

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    gap: 30px;
    animation: fadein 0.3s ease-in-out forwards;
}

@keyframes fadein {
    0%  { opacity: 0;}
    100%  {opacity: 1;}
    }

.fade-in-anim{
    
    animation: fader 0.3s ease-in-out forwards;
}
@keyframes fader {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.score-pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;

    height: 100px;
    width: 300px;
   

}
.score-card{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column; 
    border: 5px inset #544b4b81;
    border-radius: 15px;
    width: 5rem;
   

    padding: 10px 10px;
    gap: 25px;

    font-weight: 800;
    font-size: 0.8rem;
    color: #bd210dd3;

    background-color: #00fff727;
    
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    background-color: #d3dedd5e;
    border-radius: 10px;

    border: 5px inset #544b4b81;

    

}

.new-game{
 
    font-family: 'bubbly';
    font-size: 20px;
    font-weight: 900;
    color: #bd210dd3;
    background-color: #00fff727;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius:15px;
    box-shadow: 0 0 2px white;

    /* margin: 5px; */
    width: 120px;
    height: 70px;
    
  
}

.game-interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 80px; */
   gap: 25px;

}

.game-interface button{
    font-family: 'googleIcons';
    font-size: 2rem;
    font-weight: 900;
    color: #bd210dd3;
    background-color: #00fff727;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius:15px;
    box-shadow: 0 0 2px white;

    /* margin: 5px; */
    width: 5rem;
}

.winner{
    display: block;
    height: 100%;
    width: 100%;

    color: #ffffffb9;
    font-size: 1.7rem;
    text-align: center;
}